// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    --ion-color-primary: #2e8857; /* Azul predeterminado */
    --ion-color-secondary: #3dc2ff; /* Azul claro */
    --ion-color-success: #2dd36f; /* Verde */
    --ion-color-danger: #eb445a; /* Rojo */
    --ion-color-warning: #ffc409; /* Amarillo */
    --ion-color-dark: #222428; /* Negro */
  }